<% content_for :title, "Messages" %>

<div class="w-full flex flex-col flex-1 min-h-0">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>

  <%= turbo_stream_from 'chat' %>

  <div id="messages" data-controller="scroll-to-bottom-of-messages" class="min-w-full divide-y divide-gray-200 space-y-5 flex-1 overflow-y-auto">
    <%= render @messages %>
  </div>

  <%= turbo_frame_tag 'new_message', class: 'mb-4' do %>
    <%= render "messages/form", message: Message.new %>
  <% end %>
</div>
